@font-face{
    font-family: 'Libre Baskerville', serif;
    src: url(https://fonts.googleapis.com/css2?´);
}
/* Estilos específicos para index.html*/
@media screen and (max-width: 768px) {
}
.inicio{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}

title{
    background-color:#ffeddb;
    margin: auto;
}
h1{
    background-color: #ffeddb;
    text-decoration: black;
    justify-content: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 3%;
    font-size: 35px;
}

.Párrafo1{
    background-color: #ffeddb;
    text-decoration: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 200%;
}

.Párrafo2{
    background-color: #ffeddb;
    text-decoration: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: left;
    margin-left: 20%;
    font-family: 'Libre Baskerville', serif;
    margin-left: 3%;
    margin-top: 3%;
    font-size: 150%;
}

.container-inicio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.container img{ 
    display: flex;
    align-content: stretch;
    margin-right: 10px;
}

.column img{
    max-width: 50%;
    height: auto;
    justify-content: center;
}

.p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.footer{
    background-color: #E3B7A0;
    flex-wrap: nowrap;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 40px;
    padding: 0px;
    margin-top: 3%;
}

.Iconos-sociales{
    display: flex;
    flex-direction: row;
}

.copyright{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    right: 0;
    border-top: 5px;
    padding: 5%;
    left: 50%;
    transform: translate(-50%);
}

/* Estilos específicos para about-me.html*/
nav{
    background-color: #ffeddb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    width: 100%;
    height: 50px;
    margin: 40px;
    padding: 0px;
    margin-top: 3%;
    margin: auto;
    border-radius: 25rem;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 30px;
    position: relative;
}
@media screen and (max-width:768px){
.nav-container{
    display: flex;
    flex-direction: row;
    }
}
.menú{
    background-color: #E3B7A0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 10rem;
    height: 50px;
}
.menú li{
    display: inline-block;
}

.menú li a{
    display: block;
    padding: 10px;
}

.menú li:last-child{
    margin-right: 5rem;
    margin-left: 0%;
    margin-right: 0%;
}

.menú li a:hover{
   opacity: 0.5;
}

a{
    text-decoration: none;
    color:  black;
    margin-left: 10%;
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media scren and (max-width:768px){
    .menú li{
        display: block;
    }
    .menú li a{
        padding: 5px;
    }
}
.sobre-mi{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 3%;
}

h2{
    font-size: 30px;
    margin-top: 5%;
    
}
.info-01{
    margin-top: 15%;
    margin-left: 60%;
    font-size: 100%;
    text-align: right;
    font-style: italic;
}
.texto-01{ 
   margin-top: 3%;
   margin-left: 3%;
   margin-right: 3%;
   margin-bottom: 3%;
   font-size: 20px;
   text-align: justify;
}

/*Estilos específicos para trabajos.html*/
@media screen and (max-width: 768px) {
} 
h3{
    font-size: 30px;
    margin-top: 15%;
    
   
}

.sección{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 3%;
}

.foto-16{
    margin-bottom: 5%;
}

a{
    text-decoration: none;
    color: black;
}
.gallery-container1{
    display: flex;
    justify-content: space-between;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item{
    flex-basis: 100px;
    margin: 10px;
}

.gallery-item img{
    width: 50%;
    height: 30%;
}

.retrato{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-left: 10%;
    margin-right: 10%;
}

.urbanismo{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.Producto{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

.Gastronomía{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    
}

/* Estilos específicos para servicios.html*/
@media screen and (max-width: 768px) {
} 
h4{
    font-size: 30px;
    margin-top: 15%;
}

.título-01{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-top: 5%;

}

.servicios{
    margin-left: 3%;
}

.imagen{
    margin-top: 3%;
}
.producción{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.título-02{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.post-producción{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

.título-03{
    background-color: #E3B7A0;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.redes-sociales{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}
img{
    display: block;
    margin: 0 auto;
}

p{
    display: block;
    margin-top: 10px;
}

img, p{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

/* Estilos específicos para contacto.html*/
@media screen and (max-width: 768px) {
} 
.contacto{
    margin-left: 3%;
}
h5{
    font-size: 30px;
    margin-top: 15%;
    margin-left: 3%;
}
body{
    margin: 0;
    padding: 0; 
    font-family:'Libre Baskerville', serif; 
    background-color: #ffeddb;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form p {
    text-align: center;
}

*{box-sizing: border-box;}

form{
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color:#E3B7A0;
    margin-top: 5%;
    margin-bottom: 5%;
}

form label{
    width: 250px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"]{
    width: 180px;
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    margin: 8px 0;
    display: inline-block;
}

form input[type="submit"]{
    width: 100%;
    padding: 8px 16px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    color: white;
    background-color:#E3B7A0;
}
        
footer {
    background-color:#E3B7A0;
    padding: 10px;
    text-align: center;
}
        
.Iconos-sociales {
    display: flex;
     justify-content: center;
     margin-bottom: 10px;
}
        
.Iconos-sociales img {
    margin: 0 5px;
    width: 30px;
}
        
.copy-right {
    font-size: 12px;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .footer {
        background-color:  #E3B7A0;
        padding: 45px;
        text-align: center;
      }
    
      .Iconos-sociales {
        margin-bottom: 20px;
      }
    
      .footer li {
        display: inline-block;
        margin-right: 10px;
      }
    
      .footer li:last-child {
        margin-right: 0;
      }
    
      .footer a img {
        width: 30px;
        height: 30px;
        display: block;
      }
    
      .copyright {
        font-size: 12px;
        color: black;
      }
    }
